
<style>
  #comment-section{
    margin-top:4em;
  }
</style>

<div class="container">

  <div class="row">
    <div class="col-md-3 col-sm-12 col-xs-12">
        <img src="assets/bird.jpg" class="col-md-12 col-sm-12 col-xs-12">
        <div class="text-center" style="font-size:1em;color:white;">
          Test Name 1
        </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
        <img src="assets/bird.jpg" class="col-md-12 col-sm-12 col-xs-12">
        <div class="text-center" style="font-size:1em;color:white;">
          Test Name 2
        </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
        <img src="assets/bird.jpg" class="col-md-12 col-sm-12 col-xs-12">
        <div class="text-center" style="font-size:1em;color:white;">
          Test Name 3
        </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
        <img src="assets/bird.jpg" class="col-md-12 col-sm-12 col-xs-12">
        <div class="text-center" style="font-size:1em;color:white;">
          Test Name 4
        </div>
    </div>
  </div>

  <div class="row" id="comment-section">
      <div class="col-md-6 col-xs-12 col-sm-12">
          <a class="btn btn-primary col-md-12 col-xs-12 col-sm-12">View Comments</a>
      </div>
      <div class="col-md-6 col-xs-12 col-sm-12">
          <a class="btn btn-primary col-md-12 col-xs-12 col-sm-12">New Comment / Complaint</a>
      </div>
  </div>

  <div class="row" >
      <div class="col-md-10 col-xs-12 col-sm-12">
          <form method="post" action="">
              <div class="form-group">
                 <textarea class="form-control col-md-12 col-xs-12 col-sm-12" placeholder="What's your comment / complaint?" ></textarea>
              </div>
              <div class="form-group">
                 <input type="submit" value="Submit Comment / Complaint" class="btn btn-primary" />
              </div>
          </form>
      </div>

  </div>

</div>




