
<div class="container">

  <div class="row">
      <div class="col-md-6 col-xs-12 col-sm-12">
          <a class="btn btn-primary" href="/new_event">New Event</a>
      </div>
  </div>

  <div class="row">
      <h2>Upcoming Union Events</h2>
  </div>

  <table class="table table-bordered">
      <tr>
        <th>Event Name</th>
        <th>Description</th>
        <th>Venue</th>
        <th>Date and Tim</th>
        <th></th>

      </tr>
      <tr ng-repeat="ev in events">
        <td>{{ev.name}}</td>
        <td>{{ev.description}}</td>
        <td>{{ev.venue}}</td>
        <td> {{ev.ev_date}} {{ev.ev_time}} </td>
        <td><a href="/#/union_events/"{{ev._id}}>View</a></td>
      </tr>
  </table>


</div>

