
<div class="container">

  <div class="row">
      <div class="col-md-6 col-xs-12 col-sm-12">
          <a class="btn btn-primary" href="/new_event">New Event</a>
      </div>
  </div>

  <div class="row">
      <h2>Upcoming Union Events</h2>
  </div>

  <table class="table">
      <tr>
        <th>Event Name</th>
        <th>Venue</th>
        <th>Date and Time</th>
        <th>Time</th>
      </tr>
      <tr>
        <td>Test Ev 1</td>
        <td>Test location one 01</td>
        <td> 27th May,2016 </td>
        <td> 8:00am </td>
      </tr>
      <tr>
        <td>Test Ev 1</td>
        <td>Test location one 01</td>
        <td> 27th May,2016 </td>
        <td> 9:00am </td>
      </tr>
      <tr>
        <td>Test Ev 1</td>
        <td>Test location one 01</td>
        <td> 27th May,2016 </td>
        <td> 8:00am </td>
      </tr>
      <tr>
        <td>Test Ev 1</td>
        <td>Test location one 01</td>
        <td> 27th May,2016 </td>
        <td> 8:00am </td>
      </tr>
      <tr>
        <td>Test Ev 1</td>
        <td>Test location one 01</td>
        <td> 27th May,2016 </td>
        <td> 8:00am </td>
      </tr>
  </table>


</div>
