
<div class="container">

  <div class="row">
      <div class="col-md-6 col-xs-12 col-sm-12">
          <a class="btn btn-primary" href="/#/union_newevent">New ev</a>
      </div>
  </div>

  <div class="row">
      <h2>ev Name : {{ev.name}}</h2>

      <h2>Venue : {{ev.venue}}</h2>

      <h2>Date : {{ev.ev_date}} </h2>

      <h2>Time : {{ev.ev_time}}

      <div style="font-size:1.5em;">
          {{ev.description}}
      </div>

      <span>
          Posted on {{ev.createdAt}}
      </span>
  </div>



</div>


