<div id="footer-sidebar" class="widget-area col-md-12 clearfix"  role="complementary">
		<div class="container" style="margin-top:3em;">
			<div>
					<div class="footer-column col-md-4">
						<aside id="temptation_rp-3" class="">
							<ul class="rp">
								 <li>Home</li>
								 <li>About Us</li>
								 <li>Investors</li><br/>
								 <li>
									 &copy;TLCWXYZ Trademark, Website and Apps are registered, Copyrighted and Owned by Inventway,LLC.
								 </li><br/>
								 <li>
									 &copy;All right reserved for Inventway,LLC. Filed in New York State under Number #4482422.
								 </li><br/>
								 <li>
									 <i class=""></i>Feel free to mail us at: inventway@gmail.com <br/>
									 <i class=""></i>31-00 47th Ave #3100b, Long Island City, NY 11101. <br/>
									 <i class=""></i>Phone : +1(347) 579-8462 <br/>
									 <i class=""></i>www.inventwayamerica.com <br/>
								 </li><br/>
							</ul>
						</aside>
					</div>
					<div class="footer-column col-md-2">
						<aside id="recent-posts-3" class="">
							<ul>
								<li>
									<a href="contact">New Driver</a>
								</li>
								<li>
									<a href="/">Pages</a>
								</li>
								<li>
									<a href="/">Pages</a>
								</li>
								<li>
									<a href="/">Pages</a>
								</li>
								<li>
									<a href="/">Pages</a>
								</li>
								<li>
									<a href="/">Pages</a>
								</li>
								<li>
									<a href="/">Pages</a>
								</li>

							</ul>
						</aside>
					</div>
					<div class="footer-column col-md-2">
						<aside id="recent-posts-3" class="widget widget_recent_entries">
							<ul>
								<li>
									<a href="contact">Already a driver</a>
								</li>
								<li>
									<a href="/">Pages</a>
								</li>
								<li>
									<a href="/">Pages</a>
								</li>
								<li>
									<a href="/">Pages</a>
								</li>
								<li>
									<a href="/">Pages</a>
								</li>
								<li>
									<a href="/">Pages</a>
								</li>
								<li>
									<a href="/">Pages</a>
								</li>

							</ul>
						</aside>
					</div>
					<div class="footer-column col-md-2">
						<aside id="recent-posts-3" class="widget widget_recent_entries">
							<ul>
								<li>
									<a href="contact">Medallion Owners</a>
								</li>
								<li>
									<a href="/">Pages</a>
								</li>
								<li>
									<a href="/">Pages</a>
								</li>
								<li>
									<a href="/">Pages</a>
								</li>
								<li>
									<a href="/">Pages</a>
								</li>
								<li>
									<a href="/">Pages</a>
								</li>
								<li>
									<a href="/">Pages</a>
								</li>

							</ul>
						</aside>
					</div>

					<div class="footer-column col-md-2">
						<aside id="recent-posts-3" class="widget widget_recent_entries">
							<ul>
								<li>
									<a href="contact">The Union</a>
								</li>
								<li>
									<a href="/">Pages</a>
								</li>
								<li>
									<a href="/">Pages</a>
								</li>
								<li>
									<a href="/">Pages</a>
								</li>
								<li>
									<a href="/">Pages</a>
								</li>
								<li>
									<a href="/">Pages</a>
								</li>
								<li>
									<a href="/">Pages</a>
								</li>

							</ul>
						</aside>
					</div>

			</div>
			<div class="row">
					<div class="col-md-4">
							<i class=""></i>
					</div>
			</div>
		</div>
	</div>

	<footer id="colophon" class="site-footer row" role="contentinfo">
		<div class="container">
			<div class="site-info col-md-7">
				<span class="sep">
					<i class="fa fa-square"> </i>
				</span>
				&copy; TLC 2016
			</div><!-- .site-info -->
			<div id="social-icons" class="col-md-5">

			</div>
		</div>
	</footer><!-- #colophon -->
