<div id="footer-sidebar" class="widget-area col-md-12 clearfix"  role="complementary">
		<div class="container col-md-12" style="margin-top:3em;">
			<div class="footer-column col-md-4">
				<aside id="temptation_rp-3" class="widget widget_temptation_rp">

					<ul class="rp">
						 <li class="rp-item">
							<p>
								<span style="font-size:2em;">About us</span><br/>
								lorem ipsumlorem ipsumlorem ipsum
								lorem ipsumlorem ipsumlorem ipsum
								lorem ipsumlorem ipsumlorem ipsum
								lorem ipsumlorem ipsumlorem ipsum
								lorem ipsumlorem ipsumlorem ipsum
								lorem ipsumlorem ipsumlorem ipsum
								lorem ipsumlorem ipsumlorem ipsum
							</p>
						 </li>
					</ul>
				</aside>
			</div>
			<div class="footer-column col-md-4">
				<aside id="recent-posts-3" class="widget widget_recent_entries">
					<ul>
						<li>
							<a href="contact">Contact us</a>
						</li>
						<li>
							<a href="/">Blog</a>
						</li>
						<li>
							<a href="/">Terms and condition</a>
						</li>
						<li>
							<a href="/">Privacy Policy</a>
						</li>

					</ul>
				</aside>
			</div>
			<div class="footer-column col-md-4">
				<aside id="recent-posts-3" class="widget widget_recent_entries">
					<ul>
						<li>
							<a href="">Having a Rest</a>
						</li>
						<li>
							<a href="">Beautiful girl playing guitar</a>
						</li>
					</ul>
				</aside>
			</div>
		</div>
	</div>

	<footer id="colophon" class="site-footer row" role="contentinfo">
		<div class="container">
			<div class="site-info col-md-7">
				<span class="sep">
					<i class="fa fa-square"> </i>
				</span>
				&copy; TLC 2016
			</div><!-- .site-info -->
			<div id="social-icons" class="col-md-5">

			</div>
		</div>
	</footer><!-- #colophon -->
