
			<% include partials/head %>
		  <% include partials/header %>

			<style>
				#header-image-section a{
					color:inherit;
					margin-top:7em;
				}

				#ads-subsection li a{
					padding:1.3em;
					font-size:1.3em;
					color:yellow;
				}

				#ads-title{
					font-size:1.3em;
					padding:1em;
					background-color:rgba(255,255,0,0.3);
					font-weight: bold;
					color:black;
				}
				#header-subtext1 span{
					color:black;
					font-size:1.5em;
					font-weight: bold;
					margin-top:2em;
					background-color: yellow;
					width:100%;
				}

				#header-subtext2{
					color:white;
					margin-top:2em;
				}

				#info-subsection a{
					padding:1.3em;
					font-size:1.3em;
					color:yellow;
				}

				#info-subsection{
					height:12em;
				}

				.outer-circle{
					width: 150px;
					height: 150px;
				  border-color: black;
					-moz-border-radius: 100px;
					-webkit-border-radius: 100px;
					border-radius: 100px;
				}

				.inner-circle{
					 width: 100px;
					 height: 100px;
					 background: yellow;
					 -moz-border-radius: 100px;
					 -webkit-border-radius: 100px;
					 border-radius: 100px;
				}

			</style>

			<div class="">
					<div  style="max-width: 100%;">
						<div style="width: 100%;background-image:url(assets/icons/6.jpg);overflow: hidden; position: relative; height: 482px;">

									 <div class="col-md-12" style="font-size:1.3em;margin-top:2em;color:white;">
											 <div class="col-md-4 col-xs-12 col-sm-12">
												 <ul style="list-style-type:none" id="header-image-section">
													 <li><a href=""><span><img src="assets/icons/new.png"></span>New Drivers & TLC Applicant</a></li>
													 <li><a href=""><span><img src="assets/icons/yellow.png"></span>Yellow Cab Drivers</a></li>
													 <li><a href=""><span><img src="assets/icons/disp.png"></span>Garage Dispatchers</a></li>
													 <li><a href=""><span><img src="assets/icons/green.png"></span>Green Cab Drivers</a></li>
												 </ul>
											 </div>
											 <div class="col-md-4 col-xs-12 col-sm-12">
												 <ul style="list-style-type:none" id="header-image-section">
													 <li><a href=""><span><img src="assets/icons/app.png"></span>App Drivers, Uber & Others</a></li>
													 <li><a href=""><span><img src="assets/icons/suv.png"></span>SUV & Luxury Drivers</a></li>
													 <li><a href=""><span><img src="assets/icons/black.png"></span>Luxury and Black Car Drivers</a></li>
													 <li><a href=""><span><img src="assets/icons/gypsy.png"></span>Gypsy and Radio Disp. Drivers</a></li>
												 </ul>

											 </div>
											 <div class="col-md-4 col-xs-12 col-sm-12">
												 <ul style="list-style-type:none" id="header-image-section">
													 <li><a href=""><span><img src="assets/icons/medallion.png"></span>Meddallion owners</a></li>
													 <li><a href=""><span><img src="assets/icons/bosses.png"></span>Bosses and Garage owners</a></li>
													 <li><a href=""><span><img src="assets/icons/lawyers.png"></span>TLC & DMV Lawyers</a></li>
													 <li><a href=""><span><img src="assets/icons/commisioners.png"></span>And even TLC commisioners </a></li>
												 </ul>
											 </div>
									 </div>
									 <div class="col-md-12 col-xs-12 col-sm-12 text-center" id="header-subtext1">
											 <span>One place for EVERYBODY involved in the NYC Taxi & Livery Business</span>
									 </div>

									 <div class="col-md-12 col-xs-12 col-sm-12 text-center" id="header-subtext2">
											 <span>Top Communities Involved: Bangladesh,Indian,Pakistan,Dominican Republic,Haiti,Senegal
												 ,China,Russia,Morocco,Egypt,Ghana,Nigeria </span>
									 </div>

						</div>

					</div>
			</div>


				<div id="content" class="site-content row">

					<div class="col-md-12" style="background-color:yellow;height:15em;">
							<div class="col-md-6 col-xs-12 col-sm-12 col-md-offset-3">
								<div class="text-center"><h2>Sign Up in 3 Steps</h2></div>
								<form action="/register" method="post">
										<div class="col-md-12">
												<div class="col-md-6 col-xs-12 col-sm-12">
													<input type="text" class="form-control" name="email" placeholder="Email Address"/>
												</div>
												<div class="col-md-6 col-xs-12 col-sm-12">
													<input type="password" class="form-control" name="password" placeholder="Password"/>
												</div>
										</div>
										<br/><br/>
										<div class="col-md-12 col-xs-12 col-sm-12">
												<div class="col-md-12 col-xs-12 col-sm-12">
													<input type="submit" value="Sign Up" class="btn btn-primary col-md-12 col-xs-12 col-sm-12" style="height:3em;font-size:1.3em;font-weight:bold;"/>
												</div>
										</div>
								</form>
							</div>
					</div>

					<div style="background-color:gray;height:20em;margin-top:2em;">

						<div class="col-md-12">
								<div class="col-md-2 col-xs-12 col-sm-12" style="margin-top:2em;">
										<div class="outer-circle">
												<div class="inner-circle">

												</div>
										</div>
								</div>
								<div class="col-md-2 col-xs-12 col-sm-12" style="margin-top:2em;">
										<script type="text/javascript">
												function GetClock()
												{
														var d=new Date();
														var nmonth=d.getMonth(),ndate=d.getDate(),nyear=d.getYear();
														if(nyear<1000) nyear+=1900;
														var nhour=d.getHours(),nmin=d.getMinutes(),nsec=d.getSeconds(),ap;

														if(nhour==0){ap=" AM";nhour=12;}
														else if(nhour<12){ap=" AM";}
														else if(nhour==12){ap=" PM";}
														else if(nhour>12){ap=" PM";nhour-=12;}

														if(nmin<=9) nmin="0"+nmin;
														if(nsec<=9) nsec="0"+nsec;

														document.getElementById('clockbox').innerHTML=""+ndate+"."+(nmonth+1)+"."+nyear+" "+nhour+":"+nmin+":"+nsec+ap+"";
												}
												window.onload=function()
												{
														GetClock();
														setInterval(GetClock,1000);
												}
										</script>
										<div id="clockbox" style="color:white;background-color:black;font-size:1.5em;font-weight:bold;margin-top:2em;">
										</div>
								</div>
								<div class="col-md-8 col-xs-12 col-sm-12">
									<div class="col-md-12 col-xs-12 col-sm-12" style="background-color:yellow;height:8em;margin-top:2em;border-radius:10px;">
											<span class=".sub-img-1"><img src="assets/icons/1.png" width="75" height="75" /></span>
											<span class=".sub-img-2"><img src="assets/icons/2.png" width="75" height="75"/></span>
											<span class=".sub-img-3"><img src="assets/icons/3.png" width="75" height="75"/></span>
											<span class=".sub-img-4"><img src="assets/icons/4.png" width="75" height="75"/></span>
											<span class=".sub-img-5"><img src="assets/icons/5.png" width="75" height="75"/></span>
											<span class=".sub-img-6"><img src="assets/icons/6.png" width="75" height="75"/></span>
											<span class=".sub-img-7"><img src="assets/icons/7.png" width="75" height="75"/></span>
									</div>
									<div class="col-md-12 col-xs-12 col-sm-12" style="background-color:#D3D3D3;height:8em;margin-top:1em;margin-bottom:1em;border-radius:10px;">
										 <div class="col-md-4 col-xs-12 col-sm-12">
											  <h4>Day-Shift(%)</h4>
												<h4>Night-Shift(%)</h4>
												<h4>Weekly(%)</h4>
										 </div>
										 <div class="col-md-1 col-xs-12 col-sm-12">
											 	<h4>61</h4>
												<h4>61</h4>
												<h4>61</h4>
										 </div>
										 <div class="col-md-1 col-xs-12 col-sm-12">
											 <h4>72</h4>
											 <h4>72</h4>
											 <h4>72</h4>
										</div>
										<div class="col-md-1 col-xs-12 col-sm-12">
											 <h4>85</h4>
											 <h4>85</h4>
											 <h4>85</h4>
										</div>
										<div class="col-md-1 col-xs-12 col-sm-12">
											 <h4>109</h4>
											 <h4>109</h4>
											 <h4>109</h4>
										</div>
										<div class="col-md-1 col-xs-12 col-sm-12">
											 <h4>52</h4>
											 <h4>52</h4>
											 <h4>52</h4>
										</div>
										<div class="col-md-1 col-xs-12 col-sm-12">
											 <h4>51</h4>
											 <h4>51</h4>
											 <h4>51</h4>
										</div>
										<div class="col-md-1 col-xs-12 col-sm-12">
											 <h4>55</h4>
											 <h4>55</h4>
											 <h4>55</h4>
										</div>
									</div>
								</div>
						</div>

					</div>

					<div style="background-color:gray;height:2em;margin-top:2em;">

					</div>


					<div class="col-md-12 col-xs-12 col-sm-12">
								<div class="col-md-4 col-xs-12 col-sm-12" style="background-image:url(assets/1.jpg);">
									<div  id="ads-title" class="col-md-12 col-xs-12 col-sm-12">
										Post your add for free
									</div>
									<div style="color:yellow;">
											<ul style="list-style-type:none" id="ads-subsection">
												<li><a href="/need_car">Need a cab</a></li>
												<li><a href="/cars">You have cab</a></li>
												<li><a href="/need_partner">Need a night shift driver</a></li>
												<li><a href="/partners">You are a night shift driver</a></li>
												<li><a href="/need_partner">Need a day shift driver</a></li>
												<li><a href="/partners">You are a day shift driver</a></li>
											</ul>
									</div>
								</div>

								<div class="col-md-4 col-xs-12 col-sm-12" style="background-image:url(assets/2.jpg);margin-left:0.5em;">
									<div  id="ads-title" class="col-md-12 col-xs-12 col-sm-12">
										Drivers Housing Ads for Just
									</div>
									<div style="color:yellow;">
										<ul style="list-style-type:none" id="ads-subsection">
											<li><a href="/">Need a room-mate, culturally matched </a></li>
											<li><a href="/">You have a room</a></li>
											<li><a href="/">Need a cash apartment</a></li>
											<li><a href="/">You have an apartment</a></li>
											<li><a href="/">Need few months Apt. for Visitors</a></li>
											<li><a href="/">Rent your few months apartment</a></li>
										</ul>
									</div>
								</div>

								<div class="col-md-4 col-xs-12 col-sm-12" style="background-image:url(assets/3.jpg);margin-left:0.5em;">
									<div id="ads-title" class="col-md-12 col-xs-12 col-sm-12">
										Drivers & Business
									</div>
									<div style="color:yellow;">
											<ul style="list-style-type:none" id="ads-subsection">
												<li><a href="/">Need to Share-hold a business </a></li>
												<li><a href="/">You have a business, Need Partner</a></li>
												<li><a href="/">Cabs,Black,Green, SUV and Limos</a></li>
												<li><a href="/">Delis & Restaurants</a></li>
												<li><a href="/">Food carts and street vending</a></li>
												<li><a href="/">Other business</a></li>
											</ul>
									</div>
								</div>
				</div>


				<div style="background-color:gray;height:2em;margin-top:2em;">

				</div>

				<div class="col-md-12 col-xs-12 col-sm-12">

							<div class="col-md-4 col-xs-12 col-sm-12" style="background-image:url(assets/1.jpg);">
								<div  id="ads-title">Mastering Downtown for $39.99</div>

								<div style="color:yellow;">
										<ul style="list-style-type:none" id="info-subsection">
											<li><a href="">Be a Pro Downtown Driver</a></li>
											<li><a href="">Master the Most Difficult Map to Learn</a></li>
											<li><a href="">Know where customers are</a></li>
											<li><a href="">Closest Rest Spots and Taxi stands</a></li>

										</ul>
								</div>
							</div>

							<div class="col-md-4 col-xs-12 col-sm-12" style="background-image:url(assets/2.jpg);margin-left:0.5em;">
								<div  id="ads-title">
									Manhattan Overview for $39.99
								</div>

								<div style="color:yellow;">
									<ul style="list-style-type:none" id="info-subsection">
										<li><a href="">Be a Pro Downtown Driver</a></li>
										<li><a href="">Master the City Map</a></li>
										<li><a href="">Know Where Customers Are</a></li>
										<li><a href="">Closest Rest Spots and Taxi stands</a></li>
									</ul>
								</div>
							</div>


							<div class="col-md-4 col-xs-12 col-sm-12" style="background-image:url(assets/3.jpg);margin-left:0.5em;">
								<div id="ads-title">
									Coming Up Soon , NYC 3D Driving
								</div>

								<div style="color:yellow;">
										<ul style="list-style-type:none" id="info-subsection">
											<li><a href="/">3D Driving To Master The City </a></li>
											<li><a href="/">Become a Professional NYC Driver, without leaving your Warm Hommy Seat</a></li>
											<br/><br/>
											<li><a href="/">We are in the process of partnering with Uber or Others to offer this wonderful service</a></li>
										</ul>
								</div>
							</div>
				</div>


		  <% include partials/footer %>


		</div>
	</div>
 </body>
</html>
