
			<% include partials/head %>
		  <% include partials/header %>

			<style>
				#header-image-section a{
					color:inherit;
					margin-top:7em;
				}

				#ads-subsection li a{
					padding:1.3em;
					font-size:1.3em;
					color:yellow;
				}

				#ads-title{
					font-size:1.3em;
					padding:1em;
					background-color:rgba(255,255,0,0.3);
					font-weight: bold;
					color:black;
				}
				#header-subtext1 span{
					color:black;
					font-size:1.5em;
					font-weight: bold;
					margin-top:2em;
					background-color: yellow;
					width:100%;
				}

				#header-subtext2{
					color:white;
					margin-top:2em;
				}

				#info-subsection a{
					padding:1.3em;
					font-size:1.3em;
					color:yellow;
				}

				#info-subsection{
					height:12em;
				}

				#outer-circle{

				}

				#inner-circle{
					 width: 100px;
					 height: 100px;
					 background: yellow;
					 -moz-border-radius: 50px;
					 -webkit-border-radius: 50px;
					 border-radius: 50px;
				}

			</style>

			<div class="">
					<div  style="max-width: 100%;">
						<div style="width: 100%;background-image:url(assets/icons/6.jpg);overflow: hidden; position: relative; height: 482px;">

									 <div class="col-md-12" style="font-size:1.3em;margin-top:2em;color:white;">
											 <div class="col-md-4">
												 <ul style="list-style-type:none" id="header-image-section">
													 <li><a href=""><span><img src="assets/icons/new.png"></span>New Drivers & TLC Applicant</a></li>
													 <li><a href=""><span><img src="assets/icons/yellow.png"></span>Yellow Cab Drivers</a></li>
													 <li><a href=""><span><img src="assets/icons/disp.png"></span>Garage Dispatchers</a></li>
													 <li><a href=""><span><img src="assets/icons/green.png"></span>Green Cab Drivers</a></li>
												 </ul>
											 </div>
											 <div class="col-md-4">
												 <ul style="list-style-type:none" id="header-image-section">
													 <li><a href=""><span><img src="assets/icons/app.png"></span>App Drivers, Uber & Others</a></li>
													 <li><a href=""><span><img src="assets/icons/suv.png"></span>SUV & Luxury Drivers</a></li>
													 <li><a href=""><span><img src="assets/icons/black.png"></span>Luxury and Black Car Drivers</a></li>
													 <li><a href=""><span><img src="assets/icons/gypsy.png"></span>Gypsy and Radio Disp. Drivers</a></li>
												 </ul>

											 </div>
											 <div class="col-md-4">
												 <ul style="list-style-type:none" id="header-image-section">
													 <li><a href=""><span><img src="assets/icons/medallion.png"></span>Meddallion owners</a></li>
													 <li><a href=""><span><img src="assets/icons/bosses.png"></span>Bosses and Garage owners</a></li>
													 <li><a href=""><span><img src="assets/icons/lawyers.png"></span>TLC & DMV Lawyers</a></li>
													 <li><a href=""><span><img src="assets/icons/commisioners.png"></span>And even TLC commisioners </a></li>
												 </ul>
											 </div>
									 </div>
									 <div class="col-md-12 text-center" id="header-subtext1">
											 <span>One place for EVERYBODY involved in the NYC Taxi & Livery Business</span>
									 </div>

									 <div class="col-md-12 text-center" id="header-subtext2">
											 <span>Top Communities Involved: Bangladesh,Indian,Pakistan,Dominican Republic,Haiti,Senegal
												 ,China,Russia,Morocco,Egypt,Ghana,Nigeria </span>
									 </div>

						</div>

					</div>
			</div>


				<div id="content" class="site-content row">

					<div class="col-md-12" style="background-color:yellow;height:10em;">
							<div class="col-md-6 col-md-offset-3">
								<div class="text-center"><h2>Sign Up in 3 Steps</h2></div>
								<form>
										<div class="col-md-12">
												<div class="col-md-6">
													<input type="text" class="form-control" placeholder="Email Address"/>
												</div>
												<div class="col-md-6">
													<input type="password" class="form-control" placeholder="Password"/>
												</div>
										</div>
										<br/><br/>
										<div class="col-md-12">
												<div class="col-md-12">
													<input type="submit" value="Sign Up" class="btn btn-primary col-md-12" style="height:4em;"/>
												</div>
										</div>
								</form>
							</div>
					</div>

					<div style="background-color:gray;height:20em;margin-top:2em;">

						<div class="col-md-12">
								<div class="col-md-2">
										<div class="outer-circle">
												<div class="inner-circle">

												</div>
										</div>
								</div>
								<div class="col-md-2">

								</div>
								<div class="col-md-8">
									<div class="col-md-12" style="background-color:yellow;height:8em;margin-top:2em;border-radius:10px;">
											<span class=".sub-img-1"><img src="assets/icons/i1.png" /></span>
											<span class=".sub-img-2"><img src="assets/icons/i2.png" /></span>
											<span class=".sub-img-3"><img src="assets/icons/i3.png" /></span>
											<span class=".sub-img-4"><img src="assets/icons/i4.png" /></span>
											<span class=".sub-img-5"><img src="assets/icons/i5.png" /></span>
											<span class=".sub-img-6"><img src="assets/icons/i6.png" /></span>
											<span class=".sub-img-7"><img src="assets/icons/i7.png" /></span>
									</div>
									<div class="col-md-12" style="background-color:#D3D3D3;height:6em;margin-top:1em;margin-bottom:1em;border-radius:10px;">
										 <div class="col-md-4">
											  <h4>Day-Shift(%)</h4>
												<h4>Night-Shift(%)</h4>
												<h4>Weekly(%)</h4>
										 </div>
										 <div class="col-md-1">
											 	<h4>61</h4>
												<h4>61</h4>
												<h4>61</h4>
										 </div>
										 <div class="col-md-1">
											 <h4>72</h4>
											 <h4>72</h4>
											 <h4>72</h4>
										</div>
										<div class="col-md-1">
											 <h4>85</h4>
											 <h4>85</h4>
											 <h4>85</h4>
										</div>
										<div class="col-md-1">
											 <h4>109</h4>
											 <h4>109</h4>
											 <h4>109</h4>
										</div>
										<div class="col-md-1">
											 <h4>52</h4>
											 <h4>52</h4>
											 <h4>52</h4>
										</div>
										<div class="col-md-1">
											 <h4>51</h4>
											 <h4>51</h4>
											 <h4>51</h4>
										</div>
										<div class="col-md-1">
											 <h4>55</h4>
											 <h4>55</h4>
											 <h4>55</h4>
										</div>
									</div>
								</div>
						</div>

					</div>

					<div style="background-color:gray;height:2em;margin-top:2em;">

					</div>

				  <div id="carousel-wrapper" class="col-md-12 container clearfix">

					<div class="bx-wrapper" style="max-width: 1174px;">
						<div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 240px;">
							<ul class="bxslider" style="width: 815%; position: relative; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
								<li style="background-image:url(assets/1.jpg);float: left; list-style:none; position: relative; width: 390px; margin-right: 2px;">
									<div  id="ads-title">Post your add for free</div>

									<div style="color:yellow;">
											<ul style="list-style-type:none" id="ads-subsection">
												<li><a href="/need_car">Need a cab</a></li>
												<li><a href="/cars">You have cab</a></li>
												<li><a href="/need_partner">Need a night shift driver</a></li>
												<li><a href="/partners">You are a night shift driver</a></li>
												<li><a href="/need_partner">Need a day shift driver</a></li>
												<li><a href="/partners">You are a day shift driver</a></li>
											</ul>
									</div>
								</li>

								<li style="background-image:url(assets/2.jpg);float: left; list-style: none; position: relative; width: 390px; margin-right: 2px;">
									<div  id="ads-title">
										Drivers Housing Ads for Just
									</div>

									<div style="color:yellow;">
										<ul style="list-style-type:none" id="ads-subsection">
											<li><a href="/">Need a room-mate, culturally matched </a></li>
											<li><a href="/">You have a room</a></li>
											<li><a href="/">Need a cash apartment</a></li>
											<li><a href="/">You have an apartment</a></li>
											<li><a href="/">Need few months Apt. for Visitors</a></li>
											<li><a href="/">Rent your few months apartment</a></li>
										</ul>
									</div>
								</li>

								<li style="background-image:url(assets/3.jpg);float: left; list-style: outside none none; position: relative; width: 390px; margin-right: 2px;">
									<div id="ads-title">
										Drivers & Business
									</div>

									<div style="color:yellow;">
											<ul style="list-style-type:none" id="ads-subsection">
												<li><a href="/">Need to Share-hold a business </a></li>
												<li><a href="/">You have a business, Need Partner</a></li>
												<li><a href="/">Cabs,Black,Green, SUV and Limos</a></li>
												<li><a href="/">Delis & Restaurants</a></li>
												<li><a href="/">Food carts and street vending</a></li>
												<li><a href="/">Other business</a></li>
											</ul>
									</div>
								</li>


							</ul>
						</div>

					</div>
				</div>

				<div style="background-color:gray;height:2em;">

				</div>

				<div id="carousel-wrapper" class="col-md-12 container clearfix">

				<div class="bx-wrapper" style="max-width: 1174px;">
					<div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 240px;">
						<ul class="bxslider" style="width: 815%; position: relative; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
							<li style="background-image:url(assets/1.jpg);float: left; list-style:none; position: relative; width: 390px; margin-right: 2px;">
								<div  id="ads-title">Mastering Downtown for $39.99</div>

								<div style="color:yellow;">
										<ul style="list-style-type:none" id="info-subsection">
											<li><a href="">Be a Pro Downtown Driver</a></li>
											<li><a href="">Master the Most Difficult Map to Learn</a></li>
											<li><a href="">Know where customers are</a></li>
											<li><a href="">Closest Rest Spots and Taxi stands</a></li>

										</ul>
								</div>
							</li>

							<li style="background-image:url(assets/2.jpg);float: left; list-style: none; position: relative; width: 390px; margin-right: 2px;">
								<div  id="ads-title">
									Manhattan Overview for $39.99
								</div>

								<div style="color:yellow;">
									<ul style="list-style-type:none" id="info-subsection">
										<li><a href="">Be a Pro Downtown Driver</a></li>
										<li><a href="">Master the City Map</a></li>
										<li><a href="">Know Where Customers Are</a></li>
										<li><a href="">Closest Rest Spots and Taxi stands</a></li>

									</ul>
								</div>
							</li>

							<li style="background-image:url(assets/3.jpg);float: left; list-style: outside none none; position: relative; width: 390px; margin-right: 2px;">
								<div id="ads-title">
									Coming Up Soon , NYC 3D Driving
								</div>

								<div style="color:yellow;">
										<ul style="list-style-type:none" id="info-subsection">
											<li><a href="/">3D Driving To Master The City </a></li>
											<li><a href="/">Become a Professional NYC Driver, without leaving your Warm Hommy Seat</a></li>
											<br/><br/>
											<li><a href="/">We are in the process of partnering with Uber or Others to offer this wonderful service</a></li>

										</ul>
								</div>
							</li>


						</ul>
					</div>

				</div>
			</div>

				<div class="container col-md-12">

					<div id="showcase" class="row">
						<div class="showcase showcase-1 col-md-12 col-sm-12">
							<div class="col-md-4 col-sm-12">

							</div>
						</div>

					</div><!--#showcase-->

					<div id="primary-home" class="content-area col-md-9">

					<div id="primary-title">Recent Articles</div>
						<main id="masonry" class="site-main col-md-12" role="main">

							<article  class="row archive col-md-6 col-sm-6 homepage-article gridt post-1978 post type-post status-publish format-standard has-post-thumbnail hentry category-movies">
								<div class="featured-thumb col-md-12 col-xs-12">
									<div class="gridt-meta">
										<div class="gridt-date" style="background-color:yellow;color:black;">Dec 31, 2013</div>
										<div class="meta-title"><a href="/" rel="bookmark">Stormy Conditions in the Valley</a></div>
									</div>
									<a href="">
										<img src="assets/1-769x472.jpg" class="attachment-gridt-thumb size-gridt-thumb wp-post-image" alt="1">
									</a>
								</div>
							</article><!-- #post-## -->

							<article  class="row archive col-md-6 col-sm-6 homepage-article gridt post-1973 post type-post status-publish format-standard has-post-thumbnail hentry category-movies">
								<div class="featured-thumb col-md-12 col-xs-12">
									<div class="gridt-meta">
										<div class="gridt-date" style="background-color:yellow;color:black;">Dec 31, 2013</div>
										<div class="meta-title"><a href="" rel="bookmark">Mountain Hiking is one of the best hobbies to have</a></div>
									</div>
									<a href="">
										<img src="assets/unsplash_528b276e41166_11-769x472.jpg" class="attachment-gridt-thumb size-gridt-thumb wp-post-image" alt="unsplash_528b276e41166_1">
									</a>
								</div>
							</article><!-- #post-## -->





						</main><!-- #main -->

						<div class="pagination">
							<div>
								<ul>
									<li><span>1 of 2</span></li>
									<li><span class="page-numbers current" style="background-color:yellow;color:black;">1</span></li>
									<li><a class="page-numbers" href="">2</a></li>
									<li><a class="next page-numbers" href="http://demo.inkhive.com/temptation/page/2/">Next »</a>
									</li>
								</ul>
							</div>
						</div>

					</div><!-- #primary -->

					<div id="secondary-home" class="widget-area col-md-3" role="complementary">

						<aside id="temptation_fp_cat-2" class="widget widget_temptation_fp_cat">
							<h1 class="widget-title">Featured Articles</h1>
							<ul class="rp">

								 <li class="fp-item">
									<div class="fp-thumb">
										<a href="">
											<img src="assets/1-390x240.jpg" class="attachment-carousel-thumb size-carousel-thumb wp-post-image" alt="1" srcset="http://demo.inkhive.com/temptation/wp-content/uploads/sites/17/2013/12/1-390x240.jpg 390w, http://demo.inkhive.com/temptation/wp-content/uploads/sites/17/2013/12/1-769x472.jpg 769w" sizes="(max-width: 390px) 100vw, 390px" width="390" height="240">
										</a>
									</div>

									<div class="fp-title">
										<a href="">Stormy Conditions in the Valley</a>
									</div>
									<div class="fp-date">
										Dec 31, 2013
									</div>
								 </li>

								 <li class="fp-item">
									<div class="fp-thumb">
										<a href="">
											<img src="assets/1-390x240.jpg" class="attachment-carousel-thumb size-carousel-thumb wp-post-image" alt="1" srcset="http://demo.inkhive.com/temptation/wp-content/uploads/sites/17/2013/12/1-390x240.jpg 390w, http://demo.inkhive.com/temptation/wp-content/uploads/sites/17/2013/12/1-769x472.jpg 769w" sizes="(max-width: 390px) 100vw, 390px" width="390" height="240">
										</a>
									</div>

									<div class="fp-title">
										<a href="">Stormy Conditions in the Valley</a>
									</div>
									<div class="fp-date">
										Dec 31, 2013
									</div>
								 </li>

							</ul>

						</aside>

						<aside id="temptation_rp-2" class="widget widget_temptation_rp">
							<h1 class="widget-title">Latest Articles</h1>
							<ul class="rp">
								 <li class="rp-item">
									<div class="rp-thumb">
										<a href="">
											<img src="assets/1-150x150.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="1" width="150" height="150">
										</a>
									</div>

									<div class="rp-title">
										<a href="">Stormy Conditions in the Valley</a>
									</div>
									<div class="rp-date">Dec 31, 2013</div>
								 </li>

								 <li class="rp-item">
									<div class="rp-thumb">
										<a href="">
											<img src="assets/1-150x150.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="1" width="150" height="150">
										</a>
									</div>

									<div class="rp-title">
										<a href="">Stormy Conditions in the Valley</a>
									</div>
									<div class="rp-date">Dec 31, 2013</div>
								 </li>

								</ul>
						</aside>
						<aside  class="widget widget_recent_entries">
							<h1 class="widget-title">Recent Posts</h1>
							<ul>
								<li>
									<a href="">Stormy Conditions in the Valley</a>
								</li>
								<li>
									<a href="">Stormy Conditions in the Valley</a>
								</li>

							</ul>
						</aside>

					</div><!-- #secondary -->
					<div class="clear" ></div>
					<div id="gototop">
						<a href="#page" title="Go to Top"><img src="assets/top.png"></a>
					</div>
				</div><!--.container-->

		  <% include partials/footer %>


		</div>
	</div>
 </body>
</html>
