
			<% include partials/head %>
		  <% include partials/header %>
			<div class="">
					<div  style="max-width: 100%;">
						<div style="width: 100%;background-image:url(assets/bridge.jpg);overflow: hidden; position: relative; height: 482px;repeat:no-repeat;">

									 <div class="col-md-12" style="font-size:1.3em;margin-top:2em;color:white;">
											 <div class="col-md-4">
												 <ul>
													 <li><a href="test.html">New Drivers & TLC Applicant</a></li>
													 <li><a href="">Yellow Cab Drivers</a></li>
													 <li><a href="">Garage Dispatchers</a></li>
													 <li><a href="">Green Cab Drivers</a></li>
												 </ul>
											 </div>
											 <div class="col-md-4">
												 <ul>
													 <li><a href="">App Drivers, Uber & Others</a></li>
													 <li><a href="">SUV & Luxury Drivers</a></li>
													 <li><a href="">Luxury and Black Car Drivers</a></li>
													 <li><a href="">Gypsy and Radio Disp. Drivers</a></li>
												 </ul>

											 </div>
											 <div class="col-md-4">
												 <ul>
													 <li><a href="index.html">Meddallion owners</a></li>
													 <li><a href="">Bosses and Garage owners</a></li>
													 <li><a href="">TLC & DMV owners</a></li>
													 <li><a href="">And even TLC commisioners </a></li>
												 </ul>
											 </div>
									 </div>
									 <div class="col-md-12 text-center" style="color:black;font-size:1.3em;">
											 <span>One place for EVERYBODY involved in the NYC Taxi & Livery Business</span>
									 </div>

									 <div class="col-md-12 text-center" style="color:black;">
											 <span>Top Communities Involved: Bangladesh,Nigeria </span>
									 </div>

						</div>

					</div>
			</div>


				<div id="content" class="site-content row">

				    <div id="carousel-wrapper" class="col-md-12 container clearfix">



					<div class="bx-wrapper" style="max-width: 1174px;">
						<div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 240px;">
							<ul class="bxslider" style="width: 815%; position: relative; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
								<li style="float: left; list-style: outside none none; position: relative; width: 390px; margin-right: 2px;">
									<div  style="background-color:yellow;color:black;">Post your add for free</div>
									<br/>
									<div style="background-color:yellow;color:black;">
											<ul>
												<li><a href="/need_car">Need a cab</a></li>
												<li><a href="/cars">You have cab</a></li>
												<li><a href="/need_partner">Need a night shift driver</a></li>
												<li><a href="/partners">You are a night shift driver</a></li>
												<li><a href="/need_partner">Need a day shift driver</a></li>
												<li><a href="/partners">You are a day shift driver</a></li>
											</ul>
									</div>
								</li>

								<li style="float: left; list-style: outside none none; position: relative; width: 390px; margin-right: 2px;">
									<div  style="background-color:yellow;color:black;">
										Drivers Housing Ads for Just
									</div>
									<br/>
									<div style="background-color:yellow;color:black;">
										<ul>
											<li><a href="/">Need a room-mate, culturally matched </a></li>
											<li><a href="/">You have a room</a></li>
											<li><a href="/">Need a cash apartment</a></li>
											<li><a href="/">You have an apartment</a></li>
											<li><a href="/">Need few months Apt. for Visitors</a></li>
											<li><a href="/">Rent your few months apartment</a></li>
										</ul>
									</div>
								</li>

								<li style="float: left; list-style: outside none none; position: relative; width: 390px; margin-right: 2px;">
									<div  style="background-color:yellow;color:black;">
										Drivers & Business
									</div>
									<br/>
									<div style="background-color:yellow;color:black;">
											<ul>
												<li><a href="/">Need to Share-hold a business </a></li>
												<li><a href="/">You have a business, Need Partner</a></li>
												<li><a href="/">Cabs,Black,Green, SUV and Limos</a></li>
												<li><a href="/">Delis & Restaurants</a></li>
												<li><a href="/">Food carts and street vending</a></li>
												<li><a href="/">Other business</a></li>
											</ul>
									</div>
								</li>


							</ul>
						</div>

					</div>
				</div>

				<div class="container col-md-12">

					<div id="showcase" class="row">
						<div class="showcase showcase-1 col-md-12 col-sm-12">
							<div class="col-md-4 col-sm-12">
								
							</div>

							<ul class="sc">

						      <li class="sc-item col-md-3 col-sm-4">
											<div class="sc-thumb">
												<a href="">
													<img src="assets/Having-a-rest-195x125.jpg" class="attachment-showcase-thumb size-showcase-thumb wp-post-image" alt="Having-a-rest" width="195" height="125">
												</a>
											</div>
											<div class="sc-title"><a href="">Having a Rest</a></div>
						      </li>

						      <li class="sc-item col-md-3 col-sm-4">
										<div class="sc-thumb">
											<a href="">
												<img src="assets/bird-195x125.jpg" class="attachment-showcase-thumb size-showcase-thumb wp-post-image" alt="bird" width="195" height="125">
											</a>
										</div>
										<div class="sc-title"><a href="">This Christmas is going to be very heavy on your pockets</a></div>
						      </li>

							</ul>
						</div>

					</div><!--#showcase-->

					<div id="primary-home" class="content-area col-md-9">

					<div id="primary-title">Recent Articles</div>
						<main id="masonry" class="site-main col-md-12" role="main">

							<article  class="row archive col-md-6 col-sm-6 homepage-article gridt post-1978 post type-post status-publish format-standard has-post-thumbnail hentry category-movies">
								<div class="featured-thumb col-md-12 col-xs-12">
									<div class="gridt-meta">
										<div class="gridt-date" style="background-color:yellow;color:black;">Dec 31, 2013</div>
										<div class="meta-title"><a href="/" rel="bookmark">Stormy Conditions in the Valley</a></div>
									</div>
									<a href="">
										<img src="assets/1-769x472.jpg" class="attachment-gridt-thumb size-gridt-thumb wp-post-image" alt="1">
									</a>
								</div>
							</article><!-- #post-## -->

							<article  class="row archive col-md-6 col-sm-6 homepage-article gridt post-1973 post type-post status-publish format-standard has-post-thumbnail hentry category-movies">
								<div class="featured-thumb col-md-12 col-xs-12">
									<div class="gridt-meta">
										<div class="gridt-date" style="background-color:yellow;color:black;">Dec 31, 2013</div>
										<div class="meta-title"><a href="" rel="bookmark">Mountain Hiking is one of the best hobbies to have</a></div>
									</div>
									<a href="">
										<img src="assets/unsplash_528b276e41166_11-769x472.jpg" class="attachment-gridt-thumb size-gridt-thumb wp-post-image" alt="unsplash_528b276e41166_1">
									</a>
								</div>
							</article><!-- #post-## -->





						</main><!-- #main -->

						<div class="pagination">
							<div>
								<ul>
									<li><span>1 of 2</span></li>
									<li><span class="page-numbers current" style="background-color:yellow;color:black;">1</span></li>
									<li><a class="page-numbers" href="">2</a></li>
									<li><a class="next page-numbers" href="http://demo.inkhive.com/temptation/page/2/">Next »</a>
									</li>
								</ul>
							</div>
						</div>

					</div><!-- #primary -->

					<div id="secondary-home" class="widget-area col-md-3" role="complementary">

						<aside id="temptation_fp_cat-2" class="widget widget_temptation_fp_cat">
							<h1 class="widget-title">Featured Articles</h1>
							<ul class="rp">

								 <li class="fp-item">
									<div class="fp-thumb">
										<a href="">
											<img src="assets/1-390x240.jpg" class="attachment-carousel-thumb size-carousel-thumb wp-post-image" alt="1" srcset="http://demo.inkhive.com/temptation/wp-content/uploads/sites/17/2013/12/1-390x240.jpg 390w, http://demo.inkhive.com/temptation/wp-content/uploads/sites/17/2013/12/1-769x472.jpg 769w" sizes="(max-width: 390px) 100vw, 390px" width="390" height="240">
										</a>
									</div>

									<div class="fp-title">
										<a href="">Stormy Conditions in the Valley</a>
									</div>
									<div class="fp-date">
										Dec 31, 2013
									</div>
								 </li>

								 <li class="fp-item">
									<div class="fp-thumb">
										<a href="">
											<img src="assets/1-390x240.jpg" class="attachment-carousel-thumb size-carousel-thumb wp-post-image" alt="1" srcset="http://demo.inkhive.com/temptation/wp-content/uploads/sites/17/2013/12/1-390x240.jpg 390w, http://demo.inkhive.com/temptation/wp-content/uploads/sites/17/2013/12/1-769x472.jpg 769w" sizes="(max-width: 390px) 100vw, 390px" width="390" height="240">
										</a>
									</div>

									<div class="fp-title">
										<a href="">Stormy Conditions in the Valley</a>
									</div>
									<div class="fp-date">
										Dec 31, 2013
									</div>
								 </li>

							</ul>

						</aside>

						<aside id="temptation_rp-2" class="widget widget_temptation_rp">
							<h1 class="widget-title">Latest Articles</h1>
							<ul class="rp">
								 <li class="rp-item">
									<div class="rp-thumb">
										<a href="">
											<img src="assets/1-150x150.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="1" width="150" height="150">
										</a>
									</div>

									<div class="rp-title">
										<a href="">Stormy Conditions in the Valley</a>
									</div>
									<div class="rp-date">Dec 31, 2013</div>
								 </li>

								 <li class="rp-item">
									<div class="rp-thumb">
										<a href="">
											<img src="assets/1-150x150.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="1" width="150" height="150">
										</a>
									</div>

									<div class="rp-title">
										<a href="">Stormy Conditions in the Valley</a>
									</div>
									<div class="rp-date">Dec 31, 2013</div>
								 </li>

								</ul>
						</aside>
						<aside  class="widget widget_recent_entries">
							<h1 class="widget-title">Recent Posts</h1>
							<ul>
								<li>
									<a href="">Stormy Conditions in the Valley</a>
								</li>
								<li>
									<a href="">Stormy Conditions in the Valley</a>
								</li>

							</ul>
						</aside>

					</div><!-- #secondary -->
					<div class="clear" ></div>
					<div id="gototop">
						<a href="#page" title="Go to Top"><img src="assets/top.png"></a>
					</div>
				</div><!--.container-->

		  <% include partials/footer %>


		</div>
	</div>
 </body>
</html>
