<% include partials/head %>
<% include partials/header %>

		<div id="fh5co-contact-section" style="margin-top:5em;margin-bottom:5em;">
			<div class="container">


        <form action="/login" method="post">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">

								<div class="col-md-12">
                  <div class="form-group">
                    <input type="text" class="form-control" name="email" placeholder="Email address">
                  </div>
								</div>

                <div class="col-md-12">
                  <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Password">
                  </div>
								</div>

								<div class="col-md-12">
									<div class="form-group">
										<input type="submit" value="Login" class="btn btn-primary col-md-12">
									</div>
								</div>

						</div>
					</div>
				</form>
			</div>
		</div>

		  <% include partials/footer %>


	</div>
	<!-- END fh5co-page -->

	</div>
	

	</body>
</html>
