<% include partials/head %>
<% include partials/header %>

		<div id="fh5co-contact-section" style="margin-top:3em;margin-bottom:5em;">
			<div class="container">
				<form action="/car" method="post">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center" >
              <h2>Need a car</h2>

            </div>
          </div>
					<div class="row">

						<div class="col-md-8 col-md-offset-2">

							<div class="row">

								<div class="col-md-12">
									<div class="form-group">
										<select class="form-control" name="shift">
                        <option disabled value="" selected>Select shift type</option>
                        <option>Day Shift</option>
                        <option>Night Shift</option>
                    </select>
									</div>
								</div>

                <div class="col-md-12">
									<div class="form-group">
										<input type="text" class="form-control" name="location" placeholder="Enter location">
									</div>
								</div>

                <div class="col-md-12">
                  <div class="form-group">
                    <input type="text" class="form-control" name="zip_code" placeholder="Zip code">
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                    <textarea class="form-control" id="" cols="30" rows="2" name="experience" placeholder="Experience"></textarea>
                  </div>
                </div>

								<div class="col-md-12">
										<div class="col-md-4">
											<img width="280" height="168" src="images/cars/chevrolet_impala.jpg" />
											<input type="radio" name="car_model"  value="Chevrolet Impala"/>
										</div>
										<div class="col-md-4">
											<img width="280" height="168" src="images/cars/ford_cmax.jpg" />
											<input type="radio" name="car_model"  value="Ford CMax"/>
										</div>
										<div class="col-md-4">
											<img width="280" height="168" src="images/cars/ford_escape.jpg" />
											<input type="radio" name="car_model"  value="Ford Escape"/>
										</div>

								</div>
								<div class="col-md-12">
										<div class="col-md-4">
											<img width="280" height="168" src="images/cars/ford_grand_victoria.jpg" />
											<input type="radio" name="car_model"  value="Ford Grand Victoria"/>
										</div>
										<div class="col-md-4">
											<img width="280" height="168" src="images/cars/ford_taraus.jpg" />
											<input type="radio" name="car_model"  value="Ford Taraus"/>
										</div>
										<div class="col-md-4">
											<img width="280" height="168" src="images/cars/ford_transit.png" />
											<input type="radio" name="car_model"  value="Ford Transit"/>
										</div>

								</div>

								<div class="col-md-12">
										<div class="col-md-4">
											<img width="280" height="168" src="images/cars/nissan_maxima.jpg" />
											<input type="radio" name="car_model"  value="Nissan Maxima"/>
										</div>
										<div class="col-md-4">
											<img width="280" height="168" src="images/cars/nissan_nv200.jpg" />
											<input type="radio" name="car_model"  value="Nissan MV 200"/>
										</div>
										<div class="col-md-4">
											<img width="280" height="168" src="images/cars/toyota_camry.jpg" />
											<input type="radio" name="car_model"  value="Toyota Camry"/>
										</div>
								</div>

								<div class="col-md-12">
										<div class="col-md-4">
											<img width="280" height="168" src="images/cars/toyota_highlander.jpg" />
											<input type="radio" name="car_model"  value="Toyota Highlander"/>
										</div>
										<div class="col-md-4">
											<img width="280" height="168" src="images/cars/toyota_prius.png" />
											<input type="radio" name="car_model"  value="Toyota Prius"/>
										</div>

								</div>

								<div class="col-md-12">
									<div class="form-group">
										<select class="form-control" name="car_year">
												<option disabled value="" selected>Select model year</option>
												<option>2000</option>
												<option>2001</option>
												<option>2002</option>
												<option>2003</option>
												<option>2004</option>
												<option>2005</option>
												<option>2006</option>
												<option>2007</option>
												<option>2008</option>
												<option>2009</option>
												<option>2010</option>
										</select>
									</div>
								</div>

								<div class="col-md-12">
									<div class="form-group">
										<input type="submit" value="Submit" class="submit col-md-12">
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>

	  <% include partials/footer %>


	</div>
	<!-- END fh5co-page -->

	</div>


	</body>
</html>
