<div id="fh5co-contact-section" style="margin-top:5em;margin-bottom:5em;color:white;font-size:1.2em;">
			<div class="container">
				<div class="col-md-10 col-md-offset-1">
					<form>
							<div class="step1">
								<div>
										<div class="col-md-6 col-xs-12 col-sm-12">
											<div class="form-group">
												<input type="text" placeholder="Email address" ng-model="user.email" class="form-control" />
										 </div>
										</div>

										<div class="col-md-6 col-xs-12 col-sm-12">
												<div class="form-group">
													 <input type="password" placeholder="Password" ng-model="user.password" class="form-control" />
												</div>
										</div>
								</div>
							</div>

							<div class="step2">

								 <div class="step2a">
												 <div class="row">
												 		<h2>Category A : You are one of the actors to the Taxi and livery business</h2>
											 	 </div>
												 <div class="row">
													 <span class="col-md-6 col-sm-12 col-xs-12">
														 <span class="form-group">
																<input type="radio" style="width:1em;" ng-model="user.actor" name="actor">Garage Dispatcher<br/>
														 </span>
													 </span>
													 <span class="col-md-6 col-sm-12 col-xs-12">
														 <span class="form-group">
															 <input type="radio" ng-model="user.actor" name="actor"/>Medallion Owner<br/>
														 </span>
													 </span>
												 </div>

												 <div class="row">
													<div class="col-md-6 col-sm-12 col-xs-12">
														<div class="form-group">
															 <input type="radio" ng-model="user.actor" name="actor"/>Hotel Doorman <br/>
														</div>
													</div>
													<div class="col-md-6 col-sm-12 col-xs-12">
														<div class="form-group">
															<input type="radio" ng-model="user.actor" name="actor"/>Garage Owner <br/>
														</div>
													</div>
												</div>

												<div class="row">
												 <div class="col-md-6 col-sm-12 col-xs-12">
													 <div class="form-group">
															<input type="radio" ng-model="user.actor" name="actor"/>Building Doorman <br/>
													 </div>
												 </div>
												 <div class="col-md-6 col-sm-12 col-xs-12">
													 <div class="form-group">
														 <input type="radio" ng-model="user.actor" name="actor"/>TLC Commisioner<br/>
													 </div>
												 </div>
											 </div>

											 <div class="row">
												<div class="col-md-6 col-sm-12 col-xs-12">
													<div class="form-group">
														 <input type="radio" ng-model="user.actor" name="actor"/>Medallion Brookers or Corp. <br/>
													</div>
												</div>
												<div class="col-md-6 col-sm-12 col-xs-12">
													<div class="form-group">
														<input type="radio" ng-model="user.actor" name="actor"/>DMV & TLC Lawyer<br/>
													</div>
												</div>
											</div>

											<div class="row">
											 <div class="col-md-6 col-sm-12 col-xs-12">
												 <div class="form-group">
														<input type="radio" ng-model="user.actor" name="actor"/>Radio Dispatcher. <br/>
												 </div>
											 </div>
											 <div class="col-md-6 col-sm-12 col-xs-12">
												 <div class="form-group">
													 <input type="radio" ng-model="user.actor" name="actor"/>DMV Lawyer<br/>
												 </div>
											 </div>
										 </div>

										 <div class="row">
											<div class="col-md-6 col-sm-12 col-xs-12">
												<div class="form-group">
													 <input type="radio" ng-model="user.actor" name="actor"/>City Dispatcher. <br/>
												</div>
											</div>
											<div class="col-md-6 col-sm-12 col-xs-12">
												<div class="form-group">
													<input type="radio" ng-model="user.actor" name="actor"/>TLC Lawyer<br/>
												</div>
											</div>
										</div>

								 </div>

								 <div class="step2b">
									 <div class="row">
											<h2>Category B: What kind of driver are you? OR What kind of driver do you want to be?</h2>
									 </div>
									 	<div class="row">
											<div class="form-group">
													<input type="radio" ng-model="user.driver_type" name="driver_type"/>Already experienced driver.<br/>
											</div>
											<div class="form-group">
													<input type="radio" ng-model="user.driver_type" name="driver_type"/>New Driver, currently got licensed by TLC.<br/>
											</div>
											<div class="form-group">
													<input type="radio" ng-model="user.driver_type" name="driver_type"/>New Student seeking to get a TLC License<br/>
											</div>
											<div class="form-group">
													<input type="radio" ng-model="user.driver_type" name="driver_type"/>Driver-Owned Vehicle (DOL) <br/>
											</div>
											<div class="form-group">
													<input type="radio" ng-model="user.driver_type" name="driver_type"/>Individual Owner-Operator(Own Vehicle & Medallion)<br/>
											</div>

											<div>
													<h2>You already Drove OR You want to drive & Join which of this communities</h2>
											</div>

											<div class="row">
		 											<div class="col-md-6 col-sm-12 col-xs-12">
		 												<div class="form-group">
		 													 <input type="radio" ng-model="user.driver_community" name="driver_community"/>Yellow Cab<br/>
		 												</div>
		 											</div>
		 											<div class="col-md-6 col-sm-12 col-xs-12">
		 												<div class="form-group">
		 													<input type="radio" ng-model="user.driver_community" name="driver_community"/>Gypsy & Radio<br/>
		 												</div>
		 											</div>
 										  </div>

											<div class="row">
													<div class="col-md-6 col-sm-12 col-xs-12">
														<div class="form-group">
															 <input type="radio" ng-model="user.driver_community" name="driver_community"/>App, Uber & Others<br/>
														</div>
													</div>
													<div class="col-md-6 col-sm-12 col-xs-12">
														<div class="form-group">
															<input type="radio" ng-model="user.driver_community" name="driver_community"/>Green Cab<br/>
														</div>
													</div>
											</div>

											<div class="row">
													<div class="col-md-6 col-sm-12 col-xs-12">
														<div class="form-group">
															 <input type="radio" ng-model="user.driver_community" name="driver_community"/>SUV<br/>
														</div>
													</div>
													<div class="col-md-6 col-sm-12 col-xs-12">
														<div class="form-group">
															<input type="radio" ng-model="user.driver_community" name="driver_community"/>
															Dial 7 & Others<br/>
														</div>
													</div>
											</div>

											<div class="row">
													<div class="col-md-6 col-sm-12 col-xs-12">
														<div class="form-group">
															 <input type="radio" ng-model="user.driver_community" name="driver_community"/>Black Car<br/>
														</div>
													</div>
													<div class="col-md-6 col-sm-12 col-xs-12">
														<div class="form-group">
															<input type="radio" ng-model="user.driver_community" name="driver_community"/>Limousine<br/>
														</div>
													</div>
											</div>

											<div class="row">
													<div class="col-md-6 col-sm-12 col-xs-12">
														<div class="form-group">
															 <input type="radio" ng-model="user.driver_community" name="driver_community"/>Commuter Van<br/>
														</div>
													</div>

											</div>

										</div>
								 </div>

								 <div class="step2c">

									 <div class="row">
											<h2>Category C : You are business representative related to taxi & livery business</h2>
									 </div>
									 <div class="row">
										 <div class="col-md-6 col-sm-12 col-xs-12">
											 <div class="form-group">
													<input type="radio" ng-model="user.business_type" name="business_type"/>Insurance company <br/>
											 </div>
										 </div>
										 <div class="col-md-6 col-sm-12 col-xs-12">
											 <div class="form-group">
												 <input type="radio" ng-model="user.business_type" name="business_type"/>Cars Dealer <br/>
											 </div>
										 </div>
									 </div>

									 <div class="row">
										<div class="col-md-6 col-sm-12 col-xs-12">
											<div class="form-group">
												 <input type="radio" ng-model="user.business_type" name="business_type"/>Meter Shop <br/>
											</div>
										</div>
										<div class="col-md-6 col-sm-12 col-xs-12">
											<div class="form-group">
												<input type="radio" ng-model="user.business_type" name="business_type"/>Car Wash <br/>
											</div>
										</div>
									 </div>

									 <div class="row">
									 <div class="col-md-6 col-sm-12 col-xs-12">
										 <div class="form-group">
												<input type="radio" ng-model="user.business_type" name="business_type"/>Verifone <br/>
										 </div>
									 </div>
									 <div class="col-md-6 col-sm-12 col-xs-12">
										 <div class="form-group">
											 <input type="radio" ng-model="user.business_type" name="business_type"/>Lube & Oil Change<br/>
										 </div>
									 </div>
									 </div>

									 <div class="row">
											 <div class="col-md-6 col-sm-12 col-xs-12">
													<div class="form-group">
														 <input type="radio" ng-model="user.business_type" name="business_type"/>CMT. <br/>
													</div>
									 			</div>
											 <div class="col-md-6 col-sm-12 col-xs-12">
													<div class="form-group">
														<input type="radio" ng-model="user.business_type" name="business_type"/>Collision and Body Shop<br/>
													</div>
											 </div>
									 </div>

									 <div class="row">
											 <div class="col-md-6 col-sm-12 col-xs-12">
												 <div class="form-group">
														<input type="radio" ng-model="user.business_type" name="business_type"/>Food and Catering Business <br/>
												 </div>
											 </div>
											 <div class="col-md-6 col-sm-12 col-xs-12">
												 <div class="form-group">
													 <input type="radio" ng-model="user.business_type" name="business_type"/>Accounting Business<br/>
												 </div>
											 </div>
									 </div>

									 <div class="row">
										 <div class="col-md-6 col-sm-12 col-xs-12">
											 <div class="form-group">
												 <input type="radio" ng-model="user.business_type" name="business_type"/>Other Business. <br/>
											 </div>
										 </div>

									 </div>


								 </div>

							</div>


							<div class="step3">
								<div class="col-md-6 col-xs-12 col-sm-12">
										<div class="form-group">
											<button class="btn btn-primary" ng-click="uploadProfileImage()">Upload Profile Image</button>
									 	</div>
								</div>

								<div class="col-md-6 col-xs-12 col-sm-12">
										<div class="form-group">
											<button class="btn btn-primary" ng-click="uploadBusinessLogo()">Upload Business Image</button>
									 	</div>
								</div>
							</div>

							<div class="form-group">
									<button type="submit" value="Submit" class="btn btn-primary col-md-12 col-sm-12 col-xs-12" ng-click="registerUser()"></button>
							</div>

					</form>
				</div>
			</div>
</div>
