
<div id="content" class="site-content row">

  <div class="container" style="margin-top:2em;">
     <div class="col-md-12 col-xs-12 col-sm-12" >

        <div class="col-md-3 col-xs-12 col-sm-12">
            <table class="table" style="background-color:yellow;border-radius:2em;color:black;text-decoration:none;">
                <tr>
                  <td><a href="/base">Overview</a></td>
                </tr>
                <tr>
                  <td><a href="/base/ad">Post an Ad</a></td>
                </tr>
                <tr>
                  <td><a href="/base/inbox">Inbox</a></td>
                </tr>
                <tr>
                  <td><a href="/base/qualification">Inbox</a></td>
                </tr>
                <tr>
                  <td><a href="/base/ranks">Ranks</a></td>
                </tr>
                <tr>
                  <td><a href="/base/wroteby">Wrote by</a></td>
                </tr>
                <tr>
                  <td><a href="/base/account">My Account</a></td>
                </tr>
                <tr>
                  <td><a href="/base/codriving">Co-driving</a></td>
                </tr>
                <tr>
                  <td><a href="/base/tickets">Tickets</a></td>
                </tr>
                <tr>
                  <td><a href="/base/elections">Election</a></td>
                </tr>
                <tr>
                  <td><a href="/base/payment">Payments</a></td>
                </tr>
                <tr>
                  <td><a href="/base/join_group">Join Groups</a></td>
                </tr>
                <tr>
                  <td><a href="/base/upload">Upload</a></td>
                </tr>
                <tr>
                  <td><a href="/base/contract">Contract</a></td>
                </tr>
                <tr>
                  <td><a href="/base/build_history">Build history</a></td>
                </tr>
            </table>
        </div>

        <div class="col-md-9 col-xs-12 col-sm-12" style="background-color:yellow;border-radius:2em;">
            <div class="row">
                <ui-view></ui-view>
            </div>
        </div>

      </div>
  </div>

</div>
