<% include partials/head %>
<% include partials/header %>

		<div id="fh5co-contact-section" style="margin-top:5em;margin-bottom:5em;">
			<div class="container">


        <form action="/login" method="post">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">

								<div class="col-md-12">
                  <div class="form-group">
                    <input type="text" class="form-control" name="event_name" placeholder="Event Name">
                  </div>
								</div>

                <div class="col-md-12">
                  <div class="form-group">
                    <input type="text" class="form-control" name="event_venue" placeholder="Venue">
                  </div>
								</div>

                <div class="col-md-12">
                  <div class="form-group">
                      <textarea class="form-control col-md-12 col-xs-12 col-sm-12" placeholder="Event Description"></textarea>
                  </div>
								</div>

                <div class="col-md-12">
                  <div class="form-group">
                    <input type="text" class="form-control" name="event_date" placeholder="Date">
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                    <input type="text" class="form-control" name="event_time" placeholder="Time">
                  </div>
                </div>

								<div class="col-md-12">
									<div class="form-group">
										<input type="submit" value="Add Event" id="submit" class="submit btn btn-primary col-md-12" />
									</div>
								</div>

						</div>
					</div>
				</form>
			</div>
		</div>

		  <% include partials/footer %>


	</div>
	<!-- END fh5co-page -->

	</div>


	</body>
</html>
