<% include ../partials/head %>

<% include ../partials/header %>

<div class="container">

  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12 ">
        <a class="btn btn-primary col-md-12 col-sm-12 col-xs-12">New Group</a>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <h2>My Groups</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 ">
        <table class="table">
            <tr>
              <th>S/N.</th>
              <th>Group Name</th>
              <th></th>
            </tr>
            <tr>
              <td>1</td>
              <td>Group name 001</td>
              <td> <a href="" class="btn-btn-primary">Enter</a> </td>
            </tr>
            <tr>
              <td>1</td>
              <td>Group name 021</td>
              <td> <a href="" class="btn-btn-primary">Enter</a> </td>
            </tr>
            <tr>
              <td>1</td>
              <td>Group name 011</td>
              <td> <a href="" class="btn-btn-primary">Enter</a> </td>
            </tr>
            <tr>
              <td>1</td>
              <td>Group name 003</td>
              <td> <a href="" class="btn-btn-primary">Enter</a> </td>
            </tr>
        </table>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <h2>Available Groups</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 ">
        <table class="table">
            <tr>
              <th>S/N.</th>
              <th>Group Name</th>
              <th>Description</th>
              <th></th>
            </tr>
            <tr>
              <td>1</td>
              <td>Group name 001</td>
              <td>lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum</td>
              <td> <a href="" class="btn-btn-primary">Enter</a> </td>
            </tr>
            <tr>
              <td>1</td>
              <td>Group name 021</td>
              <td>lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum</td>
              <td> <a href="" class="btn-btn-primary">Enter</a> </td>
            </tr>
            <tr>
              <td>1</td>
              <td>Group name 011</td>
              <td>lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum</td>
              <td> <a href="" class="btn-btn-primary">Enter</a> </td>
            </tr>
            <tr>
              <td>1</td>
              <td>Group name 003</td>
              <td>lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum</td>
              <td> <a href="" class="btn-btn-primary">Enter</a> </td>
            </tr>
        </table>
    </div>
  </div>


</div>

<% include ../partials/footer %>
