<% include ../partials/head %>

<% include ../partials/header %>

<div class="container">

  <div class="row">
     <h2>Ranking System</h2>
  </div>

  <div class="row">
    
  </div>

</div>

<% include ../partials/footer %>
