<div class="container">

  <div class="row" style="font-size:1.5em;">
      <div class="col-md-6 col-xs-12 col-sm-12">
          Post Ads
      </div>
      <div class="col-md-6 col-xs-12 col-sm-12">
          Category A : {{_currentUserDetails.driver_type}}
      </div>
  </div>
  <hr/>

  <div class="row">
      <div class="col-md-7">
        <div>
          <h2>Post your ad for free $0</h2>
          <div class="form-group" ng-repeat="driver_ad in driver_ads_only">
              <input type="radio" name="ads_type" ng-model="ads.type" ng-value="driver_ad" /> {{driver_ad}} <br/>
          </div>
        </div>

        <div style="margin-top:2em;">
          <h2>Drivers Housing Ads for just $0.99</h2>
          <div class="form-group" ng-repeat="housing_ad in housing_ads_only">
              <input type="radio" name="ads_type" ng-model="ads.type" ng-value="housing_ad" /> {{housing_ad}} <br/>
          </div>
        </div>

        <div style="margin-top:2em;">
          <h2>Drivers and Business Partners for $4.99</h2>
          <div class="form-group" ng-repeat="db_ad in driver_biz_ads">
              <input type="radio" name="ads_type" ng-model="ads.type" ng-value="db_ad" /> {{db_ad}} <br/>
          </div>
        </div>

      </div>

      <div class="col-md-5">

        <div class="row">
          <div class="form-group">
            <textarea placeholder="Write your ads description" class="form-control" rows="10" cols="5" ng-model="ads.description"></textarea>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <button ng-click="uploadAdsImage()">Upload Image</button>
          </div>
        </div>

      </div>
  </div>

  <div id="car_info" ng-show="ads.type in driver_ads_only">
          <div class="col-md-12">
              <div class="col-md-4">
                <img width="100" height="100" src="images/cars/chevrolet_impala.jpg" />
                <input type="radio" name="car_model" ng-model="car.model"  value="Chevrolet Impala"/>
              </div>
              <div class="col-md-4">
                <img width="100" height="100" src="images/cars/ford_cmax.jpg" />
                <input type="radio" name="car_model" ng-model="car.model"  value="Ford CMax"/>
              </div>
              <div class="col-md-4">
                <img width="100" height="100" src="images/cars/ford_escape.jpg" />
                <input type="radio" name="car_model" ng-model="car.model"  value="Ford Escape"/>
              </div>
          </div>

          <div class="col-md-12">
              <div class="col-md-4">
                <img width="100" height="100" src="images/cars/ford_grand_victoria.jpg" />
                <input type="radio" name="car_model" ng-model="car.model"  value="Ford Grand Victoria"/>
              </div>
              <div class="col-md-4">
                <img width="100" height="100" src="images/cars/ford_taraus.jpg" />
                <input type="radio" name="car_model" ng-model="car.model"  value="Ford Taraus"/>
              </div>
              <div class="col-md-4">
                <img width="100" height="100" src="images/cars/ford_transit.png" />
                <input type="radio" name="car_model" ng-model="car.model"  value="Ford Transit"/>
              </div>
          </div>

          <div class="col-md-12">
              <div class="col-md-4">
                <img width="100" height="100" src="images/cars/nissan_maxima.jpg" />
                <input type="radio" name="car_model" ng-model="car.model"  value="Nissan Maxima"/>
              </div>
              <div class="col-md-4">
                <img width="100" height="100" src="images/cars/nissan_nv200.jpg" />
                <input type="radio" name="car_model" ng-model="car.model"  value="Nissan MV 200"/>
              </div>
              <div class="col-md-4">
                <img width="100" height="100" src="images/cars/toyota_camry.jpg" />
                <input type="radio" name="car_model" ng-model="car.model"  value="Toyota Camry"/>
              </div>
          </div>

          <div class="col-md-12">
              <div class="col-md-4">
                <img width="100" height="100" src="images/cars/toyota_highlander.jpg" />
                <input type="radio" name="car_model" ng-model="car.model"  value="Toyota Highlander"/>
              </div>
              <div class="col-md-4">
                <img width="100" height="100" src="images/cars/toyota_prius.png" />
                <input type="radio" name="car_model" ng-model="car.model"  value="Toyota Prius"/>
              </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <select class="form-control" name="car_year" ng-model="car.year">
                  <option disabled value="" selected>Select model year</option>
                  <option>2000</option>
                  <option>2001</option>
                  <option>2002</option>
                  <option>2003</option>
                  <option>2004</option>
                  <option>2005</option>
                  <option>2006</option>
                  <option>2007</option>
                  <option>2008</option>
                  <option>2009</option>
                  <option>2010</option>
                  <option>2011</option>
                  <option>2012</option>
                  <option>2013</option>
                  <option>2014</option>
                  <option>2015</option>
              </select>
            </div>
          </div>

  </div>

  <div class="row">
      <div class="col-md-6">
          <button class="btn btn-primary col-md-12 col-sm-12" ng-click="saveAndExitAds()">Save & Exit</button>
      </div>
      <div class="col-md-6">
          <button class="btn btn-primary col-md-12 col-sm-12" ng-click="payAndSubmitAds()">Pay & Submit</button>
      </div>
  </div>

</div>
