<div class="container" style="margin-left:2em;">

  <div class="row" style="font-size:1.5em;">
      <div class="col-md-6 col-xs-12 col-sm-12">
          View Articles
      </div>
      <div class="col-md-6 col-xs-12 col-sm-12">
          Category A : {{_currentUserDetails.driver_type}}
      </div>
  </div>
  <hr/>

  <div class="row" ng-repeat="blog in blogs" style="margin-top:3em;">
      <h2>{{blog.title}}</h2>
      <div>By {{blog.createdBy }}, {{blog.createdAt}}</div>
      <p style="font-size:1.5em;">
          {{blog.text | limitTo:200}}
      </p>
      <div>
          <a href="/#/base/articles/"{{blog._id}}>View</a>
      </div>
  </div>



</div>
