<div class="container" style="margin-left:2em;">

  <div class="row" style="font-size:1.5em;">
      <div class="col-md-6 col-xs-12 col-sm-12">
          Article
      </div>
      <div class="col-md-6 col-xs-12 col-sm-12">
          Category A : {{_currentUserDetails.driver_type}}
      </div>
  </div>
  <hr/>

  <div class="row" style="margin-top:3em;">
      <h2>{{blog.title}}</h2>
      <div>On {{blog.createdAt}}</div>
      <div>
          <img src="{{blog.image}}" />
      </div>

      <p style="font-size:1.3em;">
          {{blog.text}}
      </p>

  </div>

</div>

