<div class="container">

  <div class="row">
      <div class="col-md-6 col-xs-12 col-sm-12">
          Build History
      </div>
      <div class="col-md-6 col-xs-12 col-sm-12">
          Category A : {{_currentUserDetails.driver_type}}
      </div>
  </div>

  <div class="row">
      <h3 id="title">
          Build your history, every day you work as a driver in nyc is valued by the garages
      </h3>

      <div>
          <h3>Your garages</h3>
          <div>
              Garage 001
          </div>
          <div>
              Garage 002
          </div>
          <div>
              Garage 003
          </div>
      </div>

      <div class="col-md-offset-2">
          <div class="row">
              <div class="col-md-6">
                 Pick the days you work
              </div>
              <div class="col-md-6">
                  Sort by year,month,week
              </div>
          </div>
          <div class="row">
              <!- Embed a calendar->
              

          </div>
      </div>

  </div>


</div>
