<div class="container">

  <div class="row" style="font-size:1.5em;">
      <div class="col-md-6 col-xs-12 col-sm-12">
          Co-Driving
      </div>
      <div class="col-md-6 col-xs-12 col-sm-12">
          Category A : {{_currentUserDetails.driver_type}}
      </div>
  </div>

  <div class="row">
    <h3>
        What's a COD or Co-Driving Experience ?
    </h3>
    <p>
        is an experience created for students who want to get a live driving experience to boost their driving knowledge of the city.
    </p>
  </div>

  <div class="row">
      <div class="col-md-7 col-sm-12">
          <textarea ng-model="CODExperience"  class="form-control"
            placeholder="Write about yourself, years of experience and how you can help students boost their knowledge of NYC.">
          </textarea>
      </div>
      <div class="col-md-5 col-sm-12">
          <div class="row">
              <div class="col-md-5">
                  <button class="btn btn-primary" ng-click="saveAndExitCOD()">Save and Exit</button>
              </div>
              <div class="col-md-5">
                  <button class="btn btn-primary" ng-click="activateCOD()">Activate COD</button>
              </div>
          </div>
          <div class="row">
              <p>
                  By clicking the activate button above, you will be automatically posted to COD ads page and you hereby agree
                  to receive messages/requests from students seeking a drive around the city.Please follow the next guide for tips
                  on how to better serve the students.
              </p>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="col-md-6">
          <div class="col-md-6 col-sm-12">
              <img src="assets/icons/1.png" />
          </div>
          <div class="col-md-6 col-sm-12">
              <h2>How it works?
          </div>
      </div>
      <div class="col-md-6 pull-right">
        div class="col-md-6 col-sm-12">
            <img src="assets/icons/1.png" />
        </div>
        <div class="col-md-6 col-sm-12">
            <h2>How it works?
        </div>
      </div>
  </div>

  <div class="row">

  </div>

</div>
