<div class="container">

  <div class="row" style="font-size:1.5em;">
      <div class="col-md-6 col-xs-12 col-sm-12">
          Contract
      </div>
      <div class="col-md-6 col-xs-12 col-sm-12">
          Category A : {{_currentUserDetails.driver_type}}
      </div>
  </div>
  <hr/>

  <div class="row">
      <h3 id="title">
          Register to any garage in the city online by signing their contract. We use online signature for agreement.
      </h3>

      <div style="height:100%;min-height:10em;">
          <!-IFRAME of city garages !>
      </div>


      <div>
          <button ng-click="uploadDriverLicense()">Upload Your driver license</button>
      </div>

      <div>
          <h3>Online Signature</h3>
      </div>


  </div>

</div>
