<div class="container">

  <div class="row" style="font-size:1.5em;">
      <div class="col-md-6 col-xs-12 col-sm-12">
          Election
      </div>
      <div class="col-md-6 col-xs-12 col-sm-12">
          Category A : {{_currentUserDetails.driver_type}}
      </div>
  </div>

  <div class="row">
    <div class="pull-right">
       To be a candidate, You must be ranked between R1 and R5.
       <button class="btn btn-primary" ng-click="applyForElection()">Apply Here</button>
    </div>
  </div>

  <div class="row">
      <div class="col-md-9">
          <!-------------------Voting iFRAME------------------------>

          

      </div>
      <div class="col-md-3">
          <button class="btn btn-default" ng-click="sendYourVote()">Send You Vote</button>
      </div>
  </div>

</div>
