<div class="container">

  <div class="row" style="font-size:1.5em;">
      <div class="col-md-6 col-xs-12 col-sm-12">
          Groups
      </div>
      <div class="col-md-6 col-xs-12 col-sm-12">
          Category A : {{_currentUserDetails.driver_type}}
      </div>
  </div>

  <div class="row">
      <h2 id="title">Record your shift video for $15/view</h2>
      <div>
          <button ng-click="uploadHVideo()">Upload Video</button>
      </div>
      <div>
          <img src="assets/union/city_package.jpg" width="500" height="500"/>
      </div>
  </div>


</div>
