<div class="container" style="margin-left:2em;">

  <div class="row" style="font-size:1.5em;">
      <div class="col-md-6 col-xs-12 col-sm-12">
          Inbox
      </div>
      <div class="col-md-6 col-xs-12 col-sm-12">
          Category A : {{_currentUserDetails.driver_type}}
      </div>
  </div>
  <hr/>

  <div class="row">
      <div id="inbox" style="height:100%;min-height:10em;">

          <table class="table table-striped">

             <tr ng-repeat="msg in messages">

                  <td>
                      <a href="/message/:id"><b>TLC</b></a>
                  </td>
                  <td></td>
                  <td>
                      <a href="/message/:id"><b>{{msg.subject}}</b></a>
                  </td>
                  <td>
                      {{msg.createdAt}}
                  </td>

             </tr>

          </table>

      </div>

  </div>


</div>
