<div class="container" style="margin-left:2em;">

      <div class="row" style="font-size:1.5em;">
          <div class="col-md-6 col-xs-12 col-sm-12">
              View Ads
          </div>
          <div class="col-md-6 col-xs-12 col-sm-12">
              Category A : {{_currentUserDetails.driver_type}}
          </div>
      </div>
      <hr/>

      <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <img src="{{ad.image}}" width="250" height="250"/>
            </div>
            <div class="col-md-8">
                <div style="font-size:1.3em;font-weight:bold;">{{ad.type}}</div>
                <div style="font-size:1.1em;">{{ad.createdAt}}</div>
                <div style="font-size:1.1em;"><span>Price :</span> <span ng-show=" ad.price == '0' ">FREE</span>{{ad.price}}</div>
            </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 col-md-offset-4">
          <div style="font-size:1.4em;">
              {{ad.description}}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 col-md-offset-4 col-sm-12">
          <div style="font-size:1.3em;" class="col-md-12">
              <span>Car Model :</span> {{ ad.car_model }} {{ad.car_year}}
          </div>
        </div>
      </div>

      <div class="row">
          <button class="btn btn-primary col-md-12 col-sm-12" ng-click="showContactFormClick()">Contact User | Send Message</button>
      </div>

      <div class="row" ng-show="showContactForm" style="margin-top:2em;">
          <form>
              <div class="form-group">
                  <input type="text" placeholder="Subject" class="form-control" ng-model="message.subject" />
              </div>

              <div class="form-group">
                  <textarea placeholder="Message content" class="form-control" rows="10" cols="10" ng-model="message.content">
                  </textarea>
              </div>

              <div class="form-group">
                  <button class="btn btn-primary col-md-12 col-sm-12" ng-click="sendAdMessage(ad.createdBy)">Send Message</button>
              </div>

          </form>
      </div>

</div>
