<div class="container">

  <div class="row" style="font-size:1.5em;">
      <div class="col-md-6 col-xs-12 col-sm-12">
          View Ads
      </div>
      <div class="col-md-6 col-xs-12 col-sm-12">
          Category A : {{_currentUserDetails.driver_type}}
      </div>
  </div>
  <hr/>

  <div class="row">
    <table class="table">
      <tr>
        <th>Ads type</th>
        <th>Description</th>
        <th>Price</th>
        <th>Created On</th>
        <th>Image</th>
        <th></th>
      </tr>
      <tr>
        <td>Need a cab</td>
        <td>
          lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
          lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
          lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
          lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
        </td>
        <th>Free</th>
        <th>2016/11/7</th>
        <th></th>
        <th><a href="">View</a></th>
      </tr>
    </table>
  </div>





</div>
