<div class="container">

  <div class="row" style="font-size:1.5em;">
      <div class="col-md-6 col-xs-12 col-sm-12">
          View Ads
      </div>
      <div class="col-md-6 col-xs-12 col-sm-12">
          Category A : {{_currentUserDetails.driver_type}}
      </div>
  </div>
  <hr/>

  <div class="row">
    <table class="table table-striped table-bordered">
      <tr>
        <th>Ads type</th>
        <th>Description</th>
        <th>Price</th>
        <th>Created On</th>
        <th>Image</th>
        <th></th>
      </tr>
      <tr ng-repeat="ad in ads">
        <td>{{ad.type}}</td>
        <td>
          {{ad.description}}
        </td>
        <th>{{ad.price}}</th>
        <th>{{ad.createdAt}}</th>
        <th></th>
        <th><a href="/view_ads/{{ad._id}}">View</a></th>
      </tr>
    </table>
  </div>





</div>
