<% include partials/head %>
<% include partials/header %>
		<div id="fh5co-contact-section" style="margin-top:5em;margin-bottom:5em;">
			<div class="container">

				<form action="/complete_profile" method="post">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">

								<div class="col-md-12">
									<div class="form-group">
										<input type="text" class="form-control" name="neighbourhood" placeholder="Neighbourhood">
									</div>
								</div>

								<div class="col-md-12">
									<div class="form-group">
										<input type="text" class="form-control" name="phone" placeholder="Phone Number">
									</div>
								</div>

                <div class="col-md-12">
                  <div class="form-group">
                    <select class="form-control" name="account_type">
                        <option value="" disabled selected>Select account type</option>
                        <option>New Driver</option>
                        <option>Experienced Driver</option>
                        <option>Lawyer</option>
                        <option>Dispatcher</option>
                        <option>Garage Owner</option>
                        <option>Medallion Owner</option>
                        <option>insurance broker</option>
                        <option>restaurant owner</option>
                        <option>carwash owner</option>
                        <option>commissioner</option>
                    </select>
                  </div>
								</div>

                <div class="col-md-12">
                  <div class="form-group">
                    <select class="form-control" name="car_type">
                        <option value="" disabled selected>Select car type</option>
                        <option>Yellow cab</option>
                        <option>SUV</option>
                        <option>Green cab</option>
                    </select>
                  </div>
                </div>

								<div class="col-md-12">
									<div class="form-group">
										<input type="submit" value="Complete Profile" class="btn btn-primary col-md-12">
									</div>
								</div>

						</div>
					</div>
				</form>
			</div>
		</div>

	  <% include partials/footer %>


	</div>
	<!-- END fh5co-page -->

	</div>

	</body>
</html>
